* {
    margin: 0;
    padding: 0;
    background-color: beige;
    box-sizing: border-box;
}

  .main-heading {
    text-align: center;
    margin-top: 20px;
  }
  
  .recipe-list {
    margin-left: 40px;
    margin-top: 50px;
    font-size: x-large;
  }
  
  a:hover {
    background-color: aquamarine;
  }
  
  .flexbox-container {
    display: flex;
  }
  
  .pic {
    display: flex;
    margin-top: 40px;
    align-items: center; 
    justify-content: center;
  }

  h2 {
    padding-bottom: 10px;
  }
  
  .content {
    padding: 30px 50px;
    
  }
  
  .ingredients,
  .steps {
    flex-direction: column; 
    align-items: flex-start;  
    border: 2px solid black; 
  }
  
  .ingredients h3,
  .steps h3 {
    padding: 30px 50px 0 50px;
  }
  
  .steps-list,
  .ingredients-list {
    padding: 30px 50px;
    margin-bottom: 40px;
    
  }







